[Desktop Entry]
Version=1.0
Name=pintaScreen
Comment=Pinta, señala, marca, escribe en la pantalla para mejorar tus explicaciones
Exec=pintascreen
Icon=pintascreen
Terminal=false
Type=Application
StartupNotify=true
Categories=Classroom;
Name[gl]=pintaScreen
Name[gl_ES]=pintaScreen
Name[pt]=pintaScreen
